@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-de-fundo: #F1F2EB;
    --cor-de-destaque: #B7DDBB;
    --cor-de-fundo-2: #7EB48E;
    --cor-fonte: #FFFAFB;
    --cor-fonte-2: #414c46;

    --fonte-principal: "Relaway", sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow:-moz-hidden-unscrollable
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--cor-fonte);
}

/* CABEÇALHO */
.cabecalho_navegar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor-de-fundo-2);
    height: 80px;
    padding: 0 60px;
    color: var(--cor-fonte);
}

.cabecalho_texto{
    font-size: 16px;
    text-align: center;
}

.cabecalho_navegar_lista{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
}

/* CONTEUDO INICIAL */
.conteudo_inicial{
    display: flex;
    justify-content: space-around;
    margin: 60px auto;
    padding: 0 60px;
    gap: 24px;
    max-width: 1200px;
    color: var(--cor-fonte-2);
}

.conteudo_inicial_texto{
    align-self: center;
    max-width: 900px;
    text-align: left;
}

.conteudo_inicial_texto h1{
    font-size: 52px;
    margin: 30px 0;
}

.conteudo_inicial_texto h2{
    font-size: 22px;
    font-weight: lighter;
}

.conteudo_inicial_lista{
    display: flex;
    gap: 32px;
    padding: 0%;
    margin: 30px 0;
    font-size: 16px;
}

.conteudo_inicial_lista_links{
    color: var(--cor-fonte-2);
}

.conteudo_inicial_lista_links:hover{
    color: var(--cor-de-fundo-2);
}

.div_conteudo_inicial_img{
    align-self: center;
}
.conteudo_inicial_img{
    width: 100%;
    max-width: 600px;
    border-radius: 50%;
}

/* CONTEUDO SOBRE MIM */
.conteudo_sobre-mim{
    display: flex;
    justify-content: center;
    background-color: var(--cor-de-fundo-2);
    padding: 30px 60px 45px 60px;
    color: var(--cor-fonte);
}

.conteudo_sobre-mim_texto{
    max-width: 1200px;
}

.conteudo_sobre-mim_texto h2{
    font-size: 32px;
}

.conteudo_sobre-mim_texto p{
    font-size: 16px;
}

/* SKILLS */
.conteudo_skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 60px;
    max-width: 1200px;
    margin: auto;
}

.conteudo_skills h2{
    font-size: 32px;
    text-align: center;
    color: var(--cor-fonte-2);
}

.conteudo_skills_lista{
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    color: var(--cor-fonte);
}

.conteudo_skills_lista_itens{
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--cor-de-destaque);
    width: 176px;
    height: 174px;
    padding: 15px;
    border-radius: 10px;
}

.conteudo_skills_lista_itens img{
    width: 40px;
    height: 40px;
}

.conteudo_skills_lista_itens p{
    padding: 0 4px;
}

/* HOBBIES */
.conteudo_hobbies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 60px;
    max-width: 1200px;
    margin: auto;
}

.conteudo_hobbies h2{
    font-size: 32px;
    text-align: center;
    color: var(--cor-fonte-2);
}

.conteudo_hobbies_lista{
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 0;
    flex-wrap: wrap;
    color: var(--cor-fonte);
}

.conteudo_hobbies_lista_itens{
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--cor-de-destaque);
    width: 176px;
    height: 174px;
    padding: 15px;
    border-radius: 10px;
}

.conteudo_hobbies_lista_itens img{
    width: 40px;
    height: 40px;
}

.conteudo_hobbies_lista_itens p{
    padding: 0 4px;
}
